base
base-devel
blueman
cronie
discord
dpkg
efibootmgr
ffmpegthumbnailer
firefox
gedit
git
gnome-themes-extra
gparted
grub
hypridle
hyprland
hyprlock
hyprpaper
hyprshot
inetutils
kate
kitty
konsole
libgsf
linux
linux-firmware
lxappearance
nano
neofetch
networkmanager
noto-fonts-emoji
pipewire-pulse
plocate
poppler-glib
python-pip
rofi
rsync
sddm
sof-firmware
spotify
sway
swaylock
swaync
thunar
thunar-archive-plugin
thunar-volman
tk
ttf-jetbrains-mono
tumbler
unzip
waybar
waypaper
wget
wlogout
xdg-desktop-portal-hyprland
xdg-user-dirs
yay
yay-debug
